.question {
    font-size: 4.8rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28rem;
    height: 10rem;
    padding: 1.6rem;
    border-radius: 2.4rem;

    background-color: #222632;

    margin: 0 auto;
    margin-bottom: 10rem;
}

.answer {
    width: 8rem;
    height: 8rem;
    padding: 1.6rem;
    border-radius: 2rem;

    background-color: #222632;
    color: #fff;

    border: none;
    outline: none;

    font-size: 3.2rem;
    text-align: center; 
    font-weight: 400;

    /* transition: background-color 0.1s ease-in-out; */
}

.answer:hover {
    cursor: pointer;
}

.correct {
    background-color: #009DFF;
}

.wrong {
    background-color: #FF004C;
}

.answer_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin-bottom: 4.8rem;
}

.section {
    width: 100%;
    height: 100vh;
}