:root {
    font-size: 10px;
}

html, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2C3242;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

